In [5]:
import pandas as pd
url_dataset = 'https://drive.google.com/file/d/1QoQqoySv1-lo7XpIwhs5kR2PtxZBKxZG/view?usp=drive_link'
file_id = url_dataset.split('/')[-2]

dwn_url = 'https://drive.google.com/uc?id=' + file_id
df = pd.read_csv(dwn_url)

In [25]:
df.head()

,Unnamed: 0,id,sentence,iso639-3,iso15924,language
0,0,mal_Mlym,സ്വയരക്ഷാബോധത്തോടും സ്വാതന്ത്ര്യത്തോടും കൂടി ജ...,mal,Mlym,Malayalam
1,1,mal_Mlym,രാഷ്ട്രീയങ്ങളല്ലാത്ത കുറ്റങ്ങൾക്കും ഐക്യരാഷ്ട്...,mal,Mlym,Malayalam
2,2,mal_Mlym,രാഷ്ട്രീയങ്ങളല്ലാത്ത കുറ്റങ്ങള്‍ക്കും ഐക്യരാഷ്...,mal,Mlym,Malayalam
3,3,mal_Mlym,തുല്യമായ പ്രവൃത്തിയെടുത്താൽ തുല്യമായ ശമ്പളത്തി...,mal,Mlym,Malayalam
4,4,mal_Mlym,സമുദായത്തിലെ സാംസ്കാരിക സംരംഭങ്ങളില്‍ പങ്കെടുക...,mal,Mlym,Malayalam

In [26]:
df = df[['sentence', 'language']]

In [27]:
df.rename(columns={'sentence': 'Text', 'language':'Language'}, inplace=True)

C:\Users\hiami\AppData\Local\Temp\ipykernel_24988\63222663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'sentence': 'Text', 'language':'Language'}, inplace=True)

In [30]:
df['Language'].value_counts()

Language
Hausa         155
Japanese      143
Javanese      122
Haitian       117
Portuguese    115
Thai          114
Urdu          108
Malayalam     100
Romanian       97
Spanish        78
Tamil          69
German         67
Saraiki        63
Swedish        61
Tagalog        61
Shona          60
Hindi          60
Indonesian     60
Vietnamese     60
Polish         59
Cebuano        59
Turkish        59
Sinhala        59
Khmer          59
Hungarian      59
Marathi        59
Telugu         58
Korean         58
Zulu           58
Dutch          58
Maithili       58
Czech          58
French         58
Ukrainian      58
English        58
Igbo           58
Gujarati       58
Italian        58
Kannada        58
Bulgarian      58
Russian        58
Kazakh         58
Panjabi        58
Bengali        58
Hiligaynon     58
Yoruba         57
Tatar          57
Somali         57
Burmese        56
Bhojpuri       56
Magahi         53
Name: count, dtype: int64

In [7]:
with open("../../../Downloads/language_dataset_small.csv", "r", encoding="utf-8", errors="ignore") as file:
    content = file.read()

from io import StringIO
df2 = pd.read_csv(StringIO(content))

In [9]:
df2 = df2[['Text', 'Language']]

In [10]:
df2.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [15]:
df2['Language'].unique()

array(['English', 'Malayalam', 'Hindi', nan,
       " अब आप सोच सकते हैं कि शब्द फिक्स का कुछ करना है कुछ मरम्मत के साथ। लेकिन एक फिक्स में कोई भी परेशानी का मतलब नहीं है एक परेशानी की स्थिति में दूसरे शब्दों का उपयोग करें जिन्हें आप एक फिक्स में उपयोग कर सकते हैं मैं एक सूप में हूं या मैं ' एक गड़बड़ में हूँ या मैं परेशान के एक स्थान पर हूँ या बस मैं एक स्पॉट में हूँ स्मार्ट शब्द संख्या 7 है फ्लुमॉक्स फ्लुमोक्स का मतलब किसी को भ्रमित करना है। इतना है कि वे भूल जाते हैं कि अब क्या करना है उलझन में एक अति प्रयोग शब्द हो जाता है तो इसके बजाय आप उदाहरण के लिए flummox का उपयोग क्यों नहीं करते हैं। लड़का पूरी तरह से दिखता है ।flummoxed जब शिक्षक ने उसे कक्षा में एक सवाल पूछा या कुत्ते को देख शराबी हो गया। दर्पण में अपने स्वयं के प्रतिबिंब या पर्यटक को अलग-अलग रीति-रिवाजों से लाद दिया गया था। अपनी यात्रा के दौरान या एक साक्षात्कार के दौरान उनका सामना हुआ",
       'Tamil', 'Portugeese', 'French', 'Dutch', 'Spanish', 'Greek',
       'Russian', 'Danish', 'Italian', 'Turkish', 'Sweedish', 'Arabic',
       'German', 'Kannada', 'Estonian', 'Swedish', 'Thai', 'Japanese',
       'Latin', 'Urdu', 'Indonesian', 'Portugese', 'Chinese', 'Korean',
       'Pushto', 'Persian', 'Romanian', 'Bengali'], dtype=object)

In [19]:
languages = ['English', 'Malayalam', 'Hindi','Tamil', 'Portugeese', 'French', 'Dutch', 'Spanish', 'Greek',
       'Russian', 'Danish', 'Italian', 'Turkish', 'Sweedish', 'Arabic',
       'German', 'Kannada', 'Estonian', 'Swedish', 'Thai', 'Japanese',
       'Latin', 'Urdu', 'Indonesian', 'Portugese', 'Chinese', 'Korean',
       'Pushto', 'Persian', 'Romanian', 'Bengali']
filtered_df = df2[df2["Language"].isin(languages)]

In [23]:
filtered_df['Language'].value_counts()

Language
English       2385
French        2014
Spanish       1819
Russian       1692
Dutch         1546
Arabic        1536
Turkish       1473
Tamil         1469
Hindi         1062
Thai          1000
Japanese      1000
Indonesian    1000
Latin         1000
Urdu          1000
Estonian      1000
Portugese     1000
Swedish       1000
Chinese       1000
Pushto        1000
Korean        1000
Persian       1000
Romanian      1000
Portugeese     739
Italian        698
Sweedish       676
Malayalam      594
German         470
Danish         428
Kannada        369
Greek          365
Bengali         58
Name: count, dtype: int64

In [33]:
df.shape

(3561, 2)

In [34]:
filtered_df.shape

(32393, 2)

In [35]:
merged_df = pd.concat([df, filtered_df], axis=0)

In [37]:
merged_df.shape

(35954, 2)

In [41]:
merged_df['Language'].value_counts()

Language
English     2443
French      2072
Spanish     1897
Russian     1750
Dutch       1604
            ...
Yoruba        57
Somali        57
Burmese       56
Bhojpuri      56
Magahi        53
Name: count, Length: 62, dtype: int64

In [42]:
merged_df.to_csv('language_dataset.csv')